
body {
    padding: 7px;
    height: 100%;
    width: 103%;
    margin: 0 auto;
    font-family: 'Slabo 27px', serif;
    background: floralwhite;;
  }

  .intro {
      text-align: center;
  }

  #searchFieldText:focus {  
      color: #FFFFFF; 
      font-weight: bold;
  }
  
  #name {
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #454545;;
  }
  
  #filler{
    height: 25px;
  }
  
  #screenlock {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  
  img.icon {
    vertical-align: text-bottom;
    height: 20px;
    margin-right: 7px;
  }
  
  #header {
    font-size: 120%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #071647;
    font-weight: bold;
    color: white;
    z-index: 5000;
  }
  #header .inner {
    margin: 10px 15px;
  }
  #menu {
    float: right;
  }
  
  #menu .button {
    display: inline-block;
    color: white;
    font-size: 90%;
    cursor: pointer;
    margin-right: 15px;
  }
  #menu .button:last-child {
    margin-right: 5px;
  }
  #menu .button:hover {
    text-decoration: underline;
  }
  
  #title {
    display: inline-block;
  }
  
  .popup {
    background: white;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    z-index: 4999;
  }
  
  .popup .button.close {
    position: absolute;
    right: 6px;
    cursor: pointer;
  }
  .popup.name .button.close {
    top: 6px;
  }
  .popup .button.close img {
    height: 10px;
  }
  
  .popup.name {
    top: 55px;
    right: 10px;
    border: 1.5px solid white;
  }
  .popup.name input {
    width: 200px;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
  }
  
  .popup.states {
    width: 150px;
    top: 55px;
    right: 10px;
  }
  .popup.states .title {
    background: #2c576b;
    color: white;
    padding: 5px 10px;
  }
  .popup.states .state {
    display: block;
    color: inherit;
    padding: 10px;
    border-bottom: 1px solid #E4E4D9;
  }
  .popup.states .state:last-child {
    border-bottom: none;
  }
  .popup.states .state:hover {
    background: #f4fafb;
  }
  
  #stack {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #stack .button.add textarea {
    border: none;
    outline: none;
    color: #444;
    background: none;
    font-family: inherit;
    font-size: 100%;
    width: 146px;
    height: 96px;
  }
  
  .card {
    display: inline-block;
    width: 134px;
    height: 5vh;
    /* height: 100px; */
    border-radius: 4px;
    /* padding: 15px; */
    margin: 0 5px 5px 0;
    vertical-align: top;
    text-align: center;
    /* font-size: 120%;
    font-weight: bold; */
    cursor: pointer;
    color: red;
    background-color: #FFAB45;
  }
  
  .card:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    background-color: #CC3C01;
  }
  
  
  #stack .button {
    border: 1px dashed #471500;
    color: #AD0505;
    background: none;
  }
  #stack .button:hover {
    box-shadow: none;
    transform: none;
  }
  #stack .button .icon {
    /* font-size: 250%; */
    display: contents;
  }
  
  .group {
    margin-bottom: 5px;
    color: #ED3526;
    border: 1px dashed #471500;
    border-radius: 4px;
    background: #FFF670;
    min-height: 150px;
    height: auto;
    width: 9vw;
    /* width: 225px; */
    display: inline-block;
    vertical-align: top;
  }
  
  .group .title {
    text-align: center;
    /* font-size: 24px; */
    font-weight: bold;
    color: white;
    /* padding: 5px; */
    border-bottom: 3px dashed #471500;
    background: blue;
    cursor: pointer;
    white-space:nowrap;
  }
  .group input {
    background: #FFF470;
    outline: none;
    border: none;
    text-align: center;
    color: #ED3526;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
  }
  
  .group .cards {
    min-height: 130px;
    margin-top: 0;
    padding: 10px;
    /*box-shadow: 10px 10px;*/
    padding-bottom: 0;
    border-radius: 3px;
  }
  
  .group .cards.drop-active {
    background: rgba(0, 0, 0, 0.05);
  }
  
  #newGroup {
    width: 300px;
    color: #FF0000;
    border: 1px dashed #471500;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    background: #FFF670;
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  #newGroup input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    background: #FFF670;
    color: #ED3526;
    font-family: inherit;
  }
  
  /* not displaying the footer... */
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 5px;
    background: #2b566b;
    color: #ffffff;
    text-align: center;
    font-size: 90%;
    display: none;
  }
  
  .display-none {
    display: none !important;
  }
  