
body {
  padding: 7px;
  height: 100%;
  width: 103%;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
  background: floralwhite;;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closing {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closing:hover,
.closing:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.button-3d:active{
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position:relative;
  top:4px;
}

.button-3d {
  position:relative;
  width: auto;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  text-align:center;
  padding:16px 18px 14px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.red {
  position: absolute;
  font-size: 150%;
  width: 300px;
  left: 40vw;
  color: white;
  background-color: #071647;
  margin-top: 10px;
}

#searchFieldText:focus {  
    color: #FFFFFF; 
    font-weight: bold;

}

#name {
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #454545;;
}

#filler{
  height: 25px;
}

#screenlock {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

img.icon {
  vertical-align: text-bottom;
  height: 20px;
  margin-right: 7px;
}

#header {
  font-size: 120%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:  #071647;
  font-weight: bold;
  color: white;
  z-index: 5000;
}
#header .inner {
  margin: 10px 15px;
  background: #071647;
}
#menu {
  float: right;
}

#menu .button {
  display: inline-block;
  color: white;
  font-size: 90%;
  cursor: pointer;
  margin-right: 15px;
}
#menu .button:last-child {
  margin-right: 5px;
}
#menu .button:hover {
  text-decoration: underline;
}

#title {
  display: inline-block;
}

.popup {
  background: white;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  z-index: 4999;
}

.popup .button.close {
  position: absolute;
  right: 6px;
  cursor: pointer;
}
.popup.name .button.close {
  top: 6px;
}
.popup .button.close img {
  height: 10px;
}

.popup.name {
  top: 55px;
  right: 10px;
  border: 1.5px solid white;
}
.popup.name input {
  width: 200px;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.popup.states {
  width: 150px;
  top: 55px;
  right: 10px;
}
.popup.states .title {
  background: #2c576b;
  color: white;
  padding: 5px 10px;
}
.popup.states .state {
  display: block;
  color: inherit;
  padding: 10px;
  border-bottom: 1px solid #E4E4D9;
}
.popup.states .state:last-child {
  border-bottom: none;
}
.popup.states .state:hover {
  background: #f4fafb;
}

#stack {
  margin-top: 20px;
  margin-bottom: 20px;
}

#stack .button.add textarea {
  border: none;
  outline: none;
  color: #444;
  background: none;
  font-family: inherit;
  font-size: 100%;
  width: 146px;
  height: 96px;
}

.card {
  display: inline-block;
  width: 100px;
  height: 5vh;
  /* height: 100px; */
  border-radius: 4px;
  /* padding: 15px; */
  margin: 0 5px 5px 0;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  color: #2b566b;
  font-size: 13px;
  background-color: #cae5ef;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background-color: #CC3C01;
}


#stack .button {
  border: 1px dashed #471500;
  color: #AD0505;
  background: none;
}
#stack .button:hover {
  box-shadow: none;
  transform: none;
}
#stack .button .icon {
  /* font-size: 250%; */
  display: contents;
}

.group {
  margin-bottom: 5px;
  color: #ED3526;
  border: 1px dashed #471500;
  border-radius: 4px;
  background: floralwhite;
  min-height: 150px;
  height: 10vh;
  width: 9vw;
  /* width: 225px; */
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
/* background: #888;  */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.group .title {
  text-align: center;
  /* font-size: 24px; */
  font-weight: bold;
  color: #2b566b;
  /* padding: 5px; */
  border-bottom: 1px dashed #83a5b1;
  background: #cae5ef;
  cursor: pointer;
  white-space: nowrap;
}
.group input {
  background: #071647;
  outline: none;
  border: none;
  text-align: center;
  color: #ED3526;
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
}

.group .cards {
  min-height: 130px;
  margin-top: 0;
  padding: 10px;
  /* box-shadow: 10px 10px; */
  padding-bottom: 0;
  border-radius: 3px;
}

.group .cards.drop-active {
  background: rgba(0, 0, 0, 0.05);
}

#newGroup {
  margin-bottom: 5px;
  color: #ED3526;
  border: 1px dashed #471500;
  border-radius: 4px;
  background: floralwhite;
  min-height: 150px;
  height: 10vh;
  width: 9vw;
  /* width: 225px; */
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
  overflow-x: hidden;
}

#newButton {
  width: 300px;
  color: #071647;
  /* border: 1px dashed #471500;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: 0 auto; */
  font-size: 150%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  left: 38%;
  position: relative;
}

#newGroup input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  background: white;
  color: #ED3526;
  font-family: inherit;
}

/* not displaying the footer... */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 5px;
  background: #071647;
  color: #ffffff;
  text-align: center;
  font-size: 90%; 
  /* display: none;  */
}

.display-none {
  display: none !important;
}


